.post-container {
  width: 80%;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  word-wrap: break-word;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.post {
  margin-bottom: 1rem;
}

.btn-action {
  background-color: white;
  padding: 8px;
  color: var(--color-complementary);
  border: 1px solid var(--color-complementary);
  margin: 0 5px;
}

.time {
  margin-top: 20px;
  font-weight: 200;
  font-size: 0.8rem;
}

.img-container {
  width: 60%;
  margin-bottom: 1rem;
}

.post-image {
  width: 100%;
}

.likes {
  font-size: 14px;
  margin-bottom: 1rem;
}

.likes button {
  border: none;
  background-color: transparent;
}

.likes button:hover {
  color: var(--color-complementary);
  cursor: pointer;
}

.likes button:last-of-type {
  margin-left: 1rem;
}

.btn-close {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  float: right;
  color: gray;
  cursor: pointer;
}
