* {
  margin: 0;
  padding: 0;
}

:root {
  /* todo: to be edited */
  --bg-primary: #ffecec;
  --bg-secondary: #efe0e0;
  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgb(42, 42, 42);
}

body {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.App {
  width: 100%;
}
